.website {
  grid-area: web;
  display: flex;
  align-self: end;
  flex-direction: column;
  row-gap: 10px;
}

@media screen and (max-width: 540px) {
  .website {
    width: calc(100% - 16px * 2);
    margin: 0 auto;
    row-gap: 11px;
  }
}
