.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
  padding-top: 32px;
  max-width: 640px;
  width: 100%;
}

@media screen and (max-width: 540px) {
  .lead__subtitle {
    width: calc(100% - 16px * 2);
    font-size: 23px;
    line-height: 28px;
    padding-top: 16px;
  }
}

@media screen and (max-width: 460px) {
  .lead__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
